@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Work+Sans:wght@300&display=swap");

.App {
    min-height: 100vh;
    display: flex;
    background: url(./background.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
