.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
}
.messages > div:first-child {
    overflow-x: hidden;
}
.my-btn {
    font-size: 20px;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
}
.my-btn:hover {
    color: black;
}
